.about-us-container {
    display: flex;
    flex-direction: column;
    padding: 0 16px 32px;
    gap: 16px;            
}

.about-us-container h1 {
    text-align: center;
    font-size: 24px;
    margin: 0;  
}

.about-us-container h2 {
    font-size: 18px;
    margin: 0;
}

.about-us-container p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.bold {
    font-weight: 700;
    color: #5b3cb2;
}
