.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 32px 20px;
   min-height: 450px; 
}

.tagline1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: #805B87;
}

.headline {
  font-size: 28px;
  font-weight: 700; 
  line-height: 1.3;
  text-align: center;
}

.sub-headline {
  font-size: 18px;
  font-weight: 400;
   line-height: 1.5;
  text-align: center; 
  max-width: 400px;  
  padding-bottom: 16px;
}

.cta-app {
  background-color: #5B3CB2;
  padding: 12px 24px;   
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 12px;
}

.tagline2 {
  font-size: 13px;
  font-style: italic;
  line-height: 1.5;
  color: #6E6E6E;
  text-align: center;
}

.how-it-works {
  padding: 0 32px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.numbered-list {
  font-weight: 700;
}

.footer-p {
  text-align: center;
}


